.cardmain{
    width:100%;

}
.cardactions{
    display: flex;
    color: #fff;
    width:"100%";
    align-items: center;
    flex-direction: column;
    justify-content: center;
   text-align: center;
   height: max-content;
    transition: transform 0.3s ease;
    position: relative;
}


